<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col">
            <h1>Feedback List</h1>
            <table class="table my-5 table-stripped table-hover">
                <thead>
                    <tr class="table-success">
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Message</th>
                        <th>Action / Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of allFeedbacks(); track $index; let i=$index;){
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.message}}</td>
                            <td>
                                @if (item.status=="pending"){
                                    <div class="d-flex">
                                        <button (click)="updateFeedback(item._id,'approved')" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                                         <button (click)="updateFeedback(item._id,'rejected')" class="btn btn-danger ms-2"><i class="fa-solid fa-x"></i></button>
                                    </div>
                                }@else if(item.status=="approved"){
                                    <button class="btn btn-success">APPROVED</button>
                                }@else {<button class="btn btn-danger">REJECTED</button>}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>