<app-header></app-header>
<div class="container my-5">
    <div class="row mb-5">
        <div class="col-lg-6">
            <a routerLink="/recipes">Back to Recipe List</a>
            <div class="my-5">
                <img class="img-fluid" [src]="(recipe$ | async)?.image" alt="recipe">
            </div>
            <div class="d-flex justify-content-between">
                <button (click)="downloadRecipe()" class="btn btn-primary">DOWNLOAD RECIPE</button>
                <button (click)="saveRecipe()" class="btn btn-success">SAVE RECIPE</button>
            </div>
        </div>
        <div class="col-lg-6">
            <h1>{{(recipe$ | async)?.name}}</h1>
            <div class="row my-4">
                <div class="col-lg-4">
                    <h6>Cuisine: {{(recipe$ | async)?.cuisine}}</h6>
                </div>
                <div class="col-lg-4">
                    <h6>Servings: {{(recipe$ | async)?.servings}}</h6>
                </div>
                <div class="col-lg-4">
                    <h6>Mode of Cooking: {{(recipe$ | async)?.difficulty}}</h6>
                </div>
                <div class="col-lg-4 mt-3 text-md-center">
                    <img width="100px"
                        src="https://tse2.mm.bing.net/th?id=OIP.xy52jM0FuazKAQTfeyvo_gHaHa&pid=Api&P=0&h=180" alt="">
                    <h6>Preparation Time: {{(recipe$ | async)?.prepTimeMinutes}} Minutes</h6>
                </div>
                <div class="col-lg-4 mt-3 text-md-center">
                    <img width="100px"
                        src="https://png.pngtree.com/png-vector/20230728/ourmid/pngtree-cooking-logo-vector-png-image_8874825.png"
                        alt="">
                    <h6>Cooking Time: {{(recipe$ | async)?.cookTimeMinutes}} Minutes</h6>
                </div>
                <div class="col-lg-4 mt-3 text-md-center">
                    <img width="100px" src="https://cdn-icons-png.freepik.com/512/15398/15398329.png" alt="">
                    <h6>Calorie Per Servings: {{(recipe$ | async)?.caloriesPerServing}}</h6>
                </div>
            </div>
            <h3>Ingredients Needed</h3>
            <ol>
                @for (item of (recipe$ | async)?.ingredients; track $index){
                <li>{{item}}</li>

                }
            </ol>
            <h3>Instructions Needed</h3>
            <ol>
                @for (item of (recipe$ | async)?.instructions; track $index){
                <li>{{item}}</li>

                }
            </ol>
        </div>
    </div>
    <h1>All Related Recipes</h1>
    <div class="row">
       @for (recipe of allRelatedRecipes(); track $index){
         <div class="col-lg-2">
            <div (click)="viewRelatedRecipePage(recipe._id)" class="p-3">
                <img class="card-img-top img-fluid" [src]="recipe.image" alt="recipe">
                <div class="card-body">
                    <h5 class="card-title">{{recipe.name}}</h5>
                </div>
            </div>
        </div>
       }
    </div>
</div>
<app-footer></app-footer>